body{
   background-image: linear-gradient(90deg, #f1c40f, #c0392b); 
   font-family: 'Source Sans Pro', sans-serif;
   -webkit-text-size-adjust: none;
   text-align: center;
}

div.parte4{
    color: #141414;
 }

 section.londres{
    font-size: 1.5em;
    line-height: 1.5em;
 }

 img{
     border-radius: 100% ;
 }
 div.body{
   margin: auto;
   background: white;
   width: 80%;
   border-radius: 10px;
   max-width: calc(100% - 4em);
}
.title {
   background-image: linear-gradient(to left,#f1c40f 47%, #c0392b 50%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
