body{
    background-image: linear-gradient(45deg ,#faf600 17%, #09f8ec 85%  #f86909 60%);
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: none;
    text-align: center;
 }

 div.parte2:{
    color: #ffefef;
 }

 section.losangeles{
    font-size: 1.5em;
    line-height: 1.5em;
 }

 img{
     border-radius: 100% ;
 }
