body {
    background-image: url(images/overlay.png), linear-gradient(45deg , #e37682 15%, #5f4d93 85%);
    font-family: 'Source Sans Pro', sans-serif;
 }
li {
    list-style: none;
}
h2, p{
    padding-bottom: 15px;
}
* {
    margin: 0;
}

.clearfix {
    column-count: 2;
}

.wrapper {
    margin: auto;    
    width: 80%;
}

.head {
    padding: 100px 30px 50px;
    text-align: center;
    color: white;
}

.head img {
    margin-bottom: 20px;
}

.head h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
}

.head p {
    color: rgba(255, 255, 255, 0.781);
    font-size: 20px;
}

.head a {
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
    border-bottom: 1px dotted;
}

.nav {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.904);
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: rgb(138, 136, 136);
}

section {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.conteudo {
    width: 60%;    
    float: left;    
}


.imagem {
    width: auto;
    text-align: center;
    border-radius: 100%;
}

.imagem img {
    border-radius: 50%;
}
div.conteudo{
    margin: 50px 80px;
    color:  rgb(138, 136, 136);
}

 div.features{
    margin: 50px 80px;
    color:  rgb(138, 136, 136);
 }